{% extends "productos/inicio.html" %}

{% block contenido %}

<div class="container mt-5">

<div class="hero">

<h2 class="text-center text-primary mb-4">Resultados de búsqueda</h2>

{% if resultados %}

<ul class="list-group">

{% for cliente in resultados %}

<li class="list-group-item">
{{ cliente.nombre }} {{ cliente.apellido }} - DNI: {{ cliente.dni }}
</li>

{% endfor %}

</ul>

{% else %}

<p>No se encontraron resultados.</p>

{% endif %}

<div class="mt-3">

<a href="{% url 'buscar_cliente' %}" class="btn btn-info text-white">
Nueva búsqueda
</a>

<a href="{% url 'inicio' %}" class="btn btn-secondary">
Volver a inicio
</a>

</div>

</div>

</div>

{% endblock %}